<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />

<title>Editor</title>
{% load staticfiles %}
<meta name="author" content="Jithin" />
<link href="{% static "css/jquery.ime.css" %}" rel="stylesheet" />
<!--link href="{% static "css/medium-editor.css" %}" rel="stylesheet" />
<link href="{% static "css/themes/default.css" %}" rel="stylesheet" /-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" ></script>
<script src="{% static "libs/rangy/rangy-core.js" %}"></script>
<script src="{% static "src/jquery.ime.js" %}"></script>
<script src="{% static "src/jquery.ime.selector.js" %}"></script>
<script src="{% static "src/jquery.ime.preferences.js" %}"></script>
<script src="{% static "src/jquery.ime.inputmethods.js" %}"></script>
<!-- Demo -->
<!--link href="{% static "css/demo.css" %}" rel="stylesheet" /-->
<script>
	$( document ).ready( function () {
		$( 'input, textarea, [contenteditable]' ).ime();
	} );
</script>
</head>

<body>
<div style="display:block; text-align: right">
    <ul style="display:inline">
        <li style="display:inline; outline: 0">
        <button>
            Yes
        </button>
        </li>
        <li style="display:inline">
        <button>
            Del
        </button>
        </li>
    </ul>
</div>

<form role="button" action="{% url 'publish_blog' %}" method="post">
    {% csrf_token %}
        <label>TITLE</label>
        <br>
        <input type="text" name="title" class="form-control" placeholder="Best thing ">
        <br>
        <label>Sub_title</label>
        <br>
        <input type="text" name="sub_title" class="form-control" placeholder="Best thing ">
        <br>
        <!--label>Category</label-->
        <br>
        <!--input name="cat" type="text" class="form-control" placeholder="Arts"-->
        <br>
        <label>CONTENT</label>
        <br>
        <textarea name="body_text" class="form-control" rows="10" type="article"></textarea>
        <br>
        <button type="submit" class="btn btn-primary">Post</button>
</form>

<!--script src="{% static "src/medium-editor.js" %}"></script>
<script>var editor = new MediumEditor('.editable');</script-->

</body>
</html>
