<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />

<title>Editor</title>
{% load staticfiles %}
<meta name="author" content="Jithin" />
<link href="{% static "css/jquery.ime.css" %}" rel="stylesheet" />
<!--link href="{% static "css/medium-editor.css" %}" rel="stylesheet" />
<link href="{% static "css/themes/default.css" %}" rel="stylesheet" /-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" ></script>
<script src="{% static "libs/rangy/rangy-core.js" %}"></script>
<script src="{% static "src/jquery.ime.js" %}"></script>
<script src="{% static "src/jquery.ime.selector.js" %}"></script>
<script src="{% static "src/jquery.ime.preferences.js" %}"></script>
<script src="{% static "src/jquery.ime.inputmethods.js" %}"></script>
<!-- Demo -->
<!--link href="{% static "css/demo.css" %}" rel="stylesheet" /-->
<script>
	$( document ).ready( function () {
		$( 'input, textarea, [contenteditable]' ).ime();
	} );
</script>
</head>

<body>
<div style="display:block; text-align: right">
    <ul style="display:inline">
        <li style="display:inline; outline: 0">
        <button>
            Yes
        </button>
        </li>
        <li style="display:inline">
        <button>
            Del
        </button>
        </li>
    </ul>
</div>
<div contenteditable=true lang="ml">
<h1 style="color: grey; outline: 0">Title</h1>
<h2 style="color: grey; outline: 0;"> Subtitle</h2>
<div style="color: grey; outline: 0;"> Topic</div>
</div>
<!--script src="{% static "src/medium-editor.js" %}"></script>
<script>var editor = new MediumEditor('.editable');</script-->
<div contenteditable=true lang="ml">
            This is a sample text in a <u>content editable div.</u><br>
                        <a href="somelocation">Some link</a><br>
                                    <i>Some text in italics</i><br>
                                                <b>Some text in bold</b><br>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                                                    
                                                            </div>

</body>
</html>
