<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />

<title>Home</title>
<meta name="author" content="Jithin" />

</head>

<body>

{% if blog_list %}
<ul>
    {% for blog in blog_list %}
    <li><a href="{% url 'blog' blog.user.username blog.title.split|join:"_" blog.id %}">{{blog.title}}</a></li>
    {#<li><a href="/r/{{blog.user.username}}/{{blog.title.split|join:"_"}}-{{blog.id}}/blog/">{{blog.title}}</a></li>#}
    <li><a href="{% url 'profile' blog.user.username %}">{{blog.user.username}}</a></li>
    <br>
    {% endfor %}
</ul>
{% else %}
<p>No Blogs are available.</p>
{% endif %}

</body>
</html>
