<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />

<title>Editor</title>
{% load staticfiles %}
<meta name="author" content="Jithin" />
<link href="{% static "css/jquery.ime.css" %}" rel="stylesheet" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" ></script>
<script src="{% static "libs/rangy/rangy-core.js" %}"></script>
<script src="{% static "src/jquery.ime.js" %}"></script>
<script src="{% static "src/jquery.ime.selector.js" %}"></script>
<script src="{% static "src/jquery.ime.preferences.js" %}"></script>
<script src="{% static "src/jquery.ime.inputmethods.js" %}"></script>
<!-- Demo -->
<link href="{% static "css/demo.css" %}" rel="stylesheet" />
<link href="{% static "css/font.css" %}" rel="stylesheet" />
<script>
	$( document ).ready( function () {
		$( 'input, textarea, [contenteditable]' ).ime();
	} );
    function copyContent () {
            document.getElementById("fcontent").value =  
                        document.getElementById("content").innerHTML;
            document.getElementById("fcontent_title").value =  
                        document.getElementById("title").innerText;
                return true;
    }

</script>
</head>

<body>
	<div>
		<header>
			<h1 id="title" class="chilanka" contenteditable="true" lang="ml" >Title</h1>
		</header>
		<div id="content" class="raghumalayalam"  contenteditable="true" lang="ml">
			This is a sample text in a <u>content editable div.</u><br/>
		</div>
        <form role="button" action="{% url 'publish_blog' %}" method="post" onsubmit='return copyContent()' enctype="multipart/form-data" >
            {% csrf_token %}
            <input type="hidden" name="title" id="fcontent_title">
            <input type="hidden" name="sub_title" id="fcontent_sub_title" value="test">
            <input type="hidden" name="body_text" id="fcontent" >
            <input type="file" accept="image/*" onchange="loadFile(event)" name="pic">
            <img id="output"/>
            <button type="submit" class="btn btn-primary">Post</button>
            <script>
                    var loadFile = function(event) {
                    var output = document.getElementById('output');
                    output.src = URL.createObjectURL(event.target.files[0]);
                    };
            </script>
        </form>
		<div id="console"></div>

	</div>
</body>
</html>
