<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />

        <title>Blog</title>
        {% load staticfiles %}
        <link href="{% static "css/demo.css" %}" rel="stylesheet" />
        <link href="{% static "css/font.css" %}" rel="stylesheet" />
    </head>



    <body>
    <h1 id="title" class="chilanka"  >{{entry.blog.title}} </h1>
    <br><br>
    <div id="content" class="raghumalayalam"  lang="ml">
    {{entry.body_text|safe}}<br>
    </div>
    </body>
</html>
