<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />

<title>Signup</title>
{% load staticfiles %}
</head>
<body>
<form action="/r/signin/" method="post">
    {% csrf_token %}
    user name
    <br>
    <input type="text" name="username" value="jithin">
    <br>
    password
    <br>
    <input type="password" name="password" value="">
    <br>
    <input type="submit" value="Signin">
</form>

</body>
</html>
