<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />

<title>Signup</title>
{% load staticfiles %}
</head>
<body>
<form action="/c/me/profile/" method="post">
    {% csrf_token %}
    email
    <br>
    <input type="text" name="email" value="email">
    <br>
    user name
    <br>
    <input type="text" name="user_name" value="jithin">
    <br>
    password
    <br>
    <input type="password" name="password" value="">
    <br>
    <input type="submit" value="Signup">
</form>

</body>
</html>
