body {
	margin-left: 20%;
	margin-right: 20%;
    background-color:#e74c3c;
    color:#ecf0f1;
}

input {
	width: 500px;
	margin-bottom: 20px;
}

textarea {
	width: 500px;
	height: 300px;
	margin-bottom: 20px;
}

/*
[contenteditable] {
	border: 1px solid green;
	height: 300px;
	width: 500px;
}
*/
.raghumalayalam {
    font-family: "RaghuMalayalam",sans-serif;
}
.chilanka {
    font-family: "chilanka",sans-serif;
}
